.link_back {
    display: inline-flex;
    align-items: center;
    height: 44px;
    font-size: 14px;
    margin-bottom: 32px;
    padding: 0 10px;
}

.main_title_post {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 500;
}

.post_photo {
    max-width: 1200px;
    border-radius: 24px;
    float: left;
    margin: 0 80px 80px 0;
}

.post_content {
    max-width: 1200px;
}

.post_content > * {
    margin-bottom: 32px;
}

.post_content img {
    max-width: 100%;
    border-radius: 12px;
}

.post_content ul,
.post_content ol {
    list-style: disc !important;
    padding-left: 60px;
}

.post_content .columns-custom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}

.post_content a {
    color: blue !important;
}

.post_content .columns-custom .col-custom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.slider-editor {
    max-width: 1200px;
    margin: 0 0 60px 0 !important;
}

.slider-editor .swiper-pagination-bullet {
    width: 30px !important;
    height: 4px !important;
    border-radius: 4px !important;
}

.post_content .custum-slide {
    display: flex;
}

.slider-editor .swiper-pagination {
    max-width: max-content;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 6px;
}

.slider-editor .swiper-pagination-bullet-active {
    background: var(--colScarlet);
}

.post_content h1,
.post_content h2,
.post_content h3,
.post_content h4,
.post_content h5,
.post_content h6 {
    font-family: var(--ntMed);
    font-weight: 500;
}

.post_content h1 {
    font-size: 40px;
}

.post_content h2 {
    font-size: 35px;
}

.post_content h3 {
    font-size: 30px;
}

.post_content h4 {
    font-size: 27px;
}

.post_content h5 {
    font-size: 24px;
}

.post_content h6 {
    font-size: 22px;
}

.post_content p,
.post_content li {
    font-size: 20px;
    font-family: var(--ttRegular);
    font-weight: normal;
}

@media (max-width: 900px) {
    .main_title_post {
        font-size: clamp(1.25rem, 0.836rem + 2.07vw, 2rem);
        margin-bottom: clamp(1.25rem, 0.836rem + 2.07vw, 2rem);
    }
    .post_content p,
    .post_content li {
        font-size: clamp(0.938rem, 0.765rem + 0.86vw, 1.25rem);
    }
    .post_content > * {
        margin-bottom: clamp(1rem, 0.448rem + 2.76vw, 2rem);
    }
    .post_content .columns-custom {
        flex-direction: column;
        gap: clamp(1rem, 0.172rem + 4.14vw, 2.5rem);
    }

    .post_content h1 {
        font-size: clamp(1.25rem, 0.836rem + 2.07vw, 2rem);
    }
    .post_content h2 {
        font-size: clamp(1.125rem, 0.711rem + 2.07vw, 1.875rem);
    }
    .post_content h3 {
        font-size: clamp(1.063rem, 0.649rem + 2.07vw, 1.813rem);
    }
    .post_content h4 {
        font-size: clamp(1.063rem, 0.649rem + 2.07vw, 1.813rem);
    }
    .post_content h5 {
        font-size: clamp(1rem, 0.586rem + 2.07vw, 1.75rem);
    }
    .post_content h6 {
        font-size: clamp(1rem, 0.586rem + 2.07vw, 1.75rem);
    }
    .slider-editor {
        margin-bottom: clamp(1rem, -0.517rem + 7.59vw, 3.75rem) !important;
    }
    .slider-editor .swiper-pagination-bullet {
        width: 20px !important;
        height: 3px !important;
    }
    .post_content .columns-custom .col-custom {
        gap: clamp(1rem, 0.517rem + 2.41vw, 1.875rem);
    }
    .post_content ul,
    .post_content ol {
        padding-left: clamp(1.25rem, -0.129rem + 6.9vw, 3.75rem);
    }
}
